@import "tailwindcss";

@font-face {
  font-family: "GizaStencil";
  src: url("/fonts/GizaStencil.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DreamAvenue";
  src: url("/fonts/dream-avenue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "cheri";
  src: url("/fonts/cheri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "corsiva-italic";
  src: url("/fonts/corsiva-italic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ovo";
  src: url("/fonts/ovo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ovo-light";
  src: url("/fonts/ovo.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "catchymager";
  src: url("/fonts/catchymager.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*  In your CSS or as a Tailwind plugin */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* @layer base {
  h1 {
    font-family: "Giza Stencil", Courier, monospace;
  }
} */
